<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h2>Type what you want to translate</h2> 
   <form id="form">
    <input type="text" name="textToTranslate" id="textToTranslate" required>
    <input type="submit" value="Submit" id="submit">
   </form>
   <h3>The translated text is:   </h3>
   <p id="translatedText"></p>
    

   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

   <script>

let form = document.getElementById('form')
let submit = document.getElementById('submit')
console.log('hi from home again')
form.addEventListener('submit', function(e){
    e.preventDefault()
    submit.disabled = true
    submit.value = 'Loading'
    let textToTranslate = document.getElementById('textToTranslate')
    axios.post('/translate',{textToTranslate: textToTranslate.value}).then((res)=>{
        console.log(res, textToTranslate.value)
        document.getElementById('translatedText').innerText = res.data
        submit.disabled = false
        submit.value = 'Submit'
    })
})
   </script>
</body>
</html>